@charset "utf-8";

body {
    background-color: white;
}

section .topo {
    background-color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: flex-end;
    padding: 10px 10px 10px 10px; 
}

section >  .topo > button {
    background-color: #1B66C9;
    padding: 11px 20px 11px 20px ;
    margin: 2px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 5px;
    border: none;

}



Section > .google {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
    margin-top: 80px;
}

