@charset "utf-8";

div.bloco {
    background-image: url(imagens/wallpaper002.jpg);
    height: 200px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
}

div.bloco2 {
    background-image: url(imagens/wallpaper003.jpg);
    height: 200px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
}

div.titulo {
    background-color: white ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div#q1 {
    background-position: left top;
}

div#q2 {
    background-position: center;
}

div#q3 {
    background-position: right;
}

div#q4 {
    background-position: center center;
}

div#q5 {
    background-position: bottom;
}


div#q6 {
    background-position: left top;
}

div#q7 {
    background-position: center;
}

div#q8 {
    background-position: right;
}

div#q9 {
    background-position: center center;
}

div#q10 {
    background-position: bottom;
}
