@charset "utf-8";

body {
    background-image: url(https://avatars.githubusercontent.com/u/105683026?v=4);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center left bottom;
    height: 98vh;
    border: 1px dashed black;
}